openapi : 3.0.0
info: 
  title: Student API
  description: Student Demo by TutorialsPedia.com
  contact: 
    name: geofftd08
    url: http://tutorialspedia.com
  version: 1.0.0
  
servers: 
  - url: http://devapi.comc
  - url: http//prodapi.com
paths:
  /student:
    description: Student resource
    get:
      description: Operation to fetch student
      parameters: 
        - in: query
          name: studentname
          required: true
          schema:
            type: string
            example: Geoff
      responses:
        200:
          description: Success Response
          content: 
            application/json:
              schema:
                $ref: '#/components/schemas/students'
    post:
      description: Add a new student
      requestBody:
        content: 
          application/json:
            schema:
              $ref: '#/components/schemas/student'
      responses:
        201:
          description: Record successfully added student
          
            
  /student{id}:
    description: Get student based on path parameter
    get:
      parameters: 
        - in: path
          name: id
          required: true
          schema: 
            type: integer
      responses:
        200:
          description: Success Response with Path Param
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/students'
components:
  schemas:
    student:
      type: object
      properties:
        StudentID:
          type: integer
          example: 3
        StudentName:
          type: string
          example: John
        StudentRemarks:
          type: string
          example: High Grade Student
    students:
      type: array
      items:
        properties:
          StudentID:
            type: integer
            example: 3
          StudentName:
            type: string
            example: John
          StudentRemarks:
            type: string
            example: High Grade Student